*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    font-family: 'Roboto', arial;
    background: #f1f1f1;
}

/*--------CARTE GENERALE ETANGS--------*/

#map-section {
  height: calc(100vh - 60px); /* plein écran moins le header */
}

#map {
  width: 100%;
  height: 100%;
}

/*--------MENU--------*/

.barre-nav {
    width: 100vw;
    height: 50px;
    min-height: 50px;
    border-radius: 0px 0 10px 10px;
    background: #09332c;
    position: fixed;
    top: 0;
    display: flex;
    left: 0;
    z-index: 5;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 5px 5px;
}

.bloc-menu {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bloc-menu span {
    font-size: 19px;
    position: relative;
    font-weight: 700;
    cursor: pointer;
}

.bloc-menu span a {
    text-decoration: none;
    color: #f1f1f1;
}

.bloc-menu span::after {
    content: '';
    display: block;
    width: 0px;
    margin: 5px auto 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    border-radius: 2px;
    background: #ffffff;
    transition: all 0.2s ease-out;
}

.bloc-menu span:hover::after {
    width: 100%;
}

.cont-ligne {
    display: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: absolute;
    top: 7px;
    left: 0;
    right: 15px;
    z-index: 10;
}

.ligne-unique {
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: #f1f1f1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.ligne-unique::before,
.ligne-unique::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: #f1f1f1;
}

.ligne-unique::before { bottom: 10px; }
.ligne-unique::after { top: 10px; }

/*Adaptation aux téléphones*/
@media screen and (max-width: 768px) {

    .barre-nav {
        width: 100vw;
        height: 50px;
    }
    .bloc-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px; /* En-dessous de l'icône à 3 barres */
        left: 0;
        width: 100%;
        background: #09332c;
        padding: 10px 0;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
        z-index: 4;
    }
    .bloc-menu.active {
        display: flex; /* Se révèle lorsque l'icône est appuyé */
    }
    .bloc-menu span {
        margin: 10px 0; /* Espace vertical entre les sections dans le menu */
    }
    .cont-ligne {
        display: block;
    }
}

/* PORTRAIT */

.portrait-rond {
    width: 17%; /*17% de la largeur de la section*/
    padding-bottom: 17%; /*Permet d'avoir une image avec la même hauteur que largeur*/
    height: 0; /*Padding-bottom contrôle la hauteur*/
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 0px 25px #cbcbd3;
    top: 25%;
    overflow: hidden; /*Pour que l'image ne dépasse pas*/
}

.portrait-rond img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .portrait-rond {
        width: 30%;
        padding-bottom: 30%;
        top: 15%;
    }
}

/* DIAPORAMA */

.container{
    position: absolute;
    transform: translate(-50%,-50%);
    overflow: hidden;
    top: 0;
    left: 0;
    box-shadow: 10px 25px 30px rgba(30,30,200,0.3);
    transform: none;
    z-index: 0;
}

.wrapper{
    width: 100%;
    display: flex;
    animation: slide 24s infinite;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}

img{
    width: 100%;
    height: auto;
}

/*--------ACCUEIL--------*/

.accueil {
    height: 100vh;
    min-height: 90vh;
    width: 100%;
    position: relative;
    margin-left: auto;
    overflow: hidden;
    display: flex; /* Pour centrer */
    align-items: center; /* Verticalement centré */
    flex-direction: column; /* Empile les éléments verticalement */
}

h1 {
    font-size: 90px;
    font-family: 'Roboto', arial;
    z-index: 1;
    position: absolute;
    top: 65vh;
    color: #f1f1f1;
}

.txt-anim {
    font-size: 40px;
    z-index: 1;
    position: absolute;
    top: 85vh;
    color: #f1f1f1;
}

.btn-accueil {
    display: inline-flex;
    width: 200px;
    height: 50px;
    z-index: 1;
    position: absolute;
    text-decoration: none;
    background: #09332c;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    margin: 10px 0 0 0;
    border-radius: 2px;
    font-size: 18px;
    align-self: flex-start;
}

.btn-accueil1 {
    margin: 100px 0 0 250px; /* décale de 100 px vers le bas et 250 px vers la droite = taille des marges au sein de la classe*/
    z-index: 1;
    position: absolute;
} 

.btn-accueil2 {
    margin: 100px 0 0 60px;
    background: transparent;
    border: 2px solid #09332c;
    color: #ffffff;
    z-index: 1;
    position: absolute;
}

/* Adaptation aux téléphones */

@media screen and (max-width: 768px) {
    .accueil {
        width: 100%;
        background-image: url('img/diapo_img1.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .btn-accueil {
        display: none;
    }
    .btn-rond {
        display: none;
    }
    .wrapper {
        display: none;
    }
    h1 {
        top: 30vh;
    }
    .txt-anim {
        top: 60vh;
    }
}

/*--------PRESENTATION--------*/

.presentation {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-top: 1px dashed #333;
    border-bottom: 1px dashed #333;
    color: #e7e7e7;
    background: #09332c;
    background: #09332c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.titre-pres {
    font-size: 40px;
    margin-bottom: 50px;
}

.pres-txt {
    width: 40vw;
    flex-shrink: 0;
    margin-bottom: 20px;
    padding-top: 20px;
    font-size: 20px;
}

.pres-txt h3 {
    font-size: 25px;
}

.pres-txt hr {      /*petite barre horizontale en-dessous du titre*/
    width: 20%;
    margin: 10px auto 20px auto;
    color: #d6d6d6;
}

.pres-txt p {
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .pres-txt {
        width: 90vw;
    }
}

/* FOOTER */

footer {
    width: 100%;
    padding-top: 100px;
    font-size: 15px;
}

@media screen and (max-width: 768px) {
    footer {
        padding-top: 20px;
    }
}